/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 10pt;
 font-family: Arial;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f__GiS_Aufz-1 /* _GiS_Aufz-1 */
{
}
span.f__GiS_Aufz-2 /* _GiS_Aufz-2 */
{
}
span.f__GiS_Bildunterschrift /* _GiS_Bildunterschrift */
{
 font-style: italic;
}
span.f__GiS_Code_Text /* _GiS_Code_Text */
{
 font-family: 'Courier New';
 font-weight: bold;
}
span.f__GiS_Codeexample /* _GiS_Codeexample */
{
 font-family: 'Courier New';
 font-weight: bold;
}
span.f__GiS_Ergebnis /* _GiS_Ergebnis */
{
}
span.f__GiS_fett /* _GiS_fett */
{
 font-weight: bold;
}
span.f__GiS_Std /* _GiS_Std */
{
}
span.f__GiS_Tabellenunterschrift /* _GiS_Tabellenunterschrift */
{
 font-style: italic;
}
span.f__GiS_Tabellenzeile /* _GiS_Tabellenzeile */
{
}
span.f__GiS_Titel /* _GiS_Titel */
{
 font-size: 24pt;
 font-weight: bold;
}
span.f__GiS_UeberschriftInhaltsverzeichnis /* _GiS_Überschrift Inhaltsverzeichnis */
{
 font-size: 16pt;
 font-weight: bold;
}
span.f__GiS_Untertitel /* _GiS_Untertitel */
{
 font-size: 16pt;
 font-weight: bold;
}
span.f__GiS_VersionStand /* _GiS_Version/Stand */
{
 font-size: 12pt;
 font-weight: bold;
}
span.f_apple-converted-space /* apple-converted-space */
{
}
span.f_CodeExample /* Code Example */
{
 font-size: 8pt;
 font-family: 'Courier New';
}
span.f_Comment /* Comment */
{
}
span.f_heading1 /* heading 1 */
{
 font-size: 16pt;
 font-weight: bold;
}
span.f_heading2 /* heading 2 */
{
 font-size: 14pt;
 font-weight: bold;
}
span.f_heading3 /* heading 3 */
{
 font-size: 13pt;
 font-weight: bold;
}
span.f_heading4 /* heading 4 */
{
 font-size: 11pt;
 font-weight: bold;
}
span.f_Heading1 /* Heading1 */
{
 font-size: 16pt;
 font-weight: bold;
}
span.f_Hyperlink /* Hyperlink */
{
 color: #0000ff;
 text-decoration: underline;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 8pt;
 font-weight: bold;
}
span.f_line862 /* line862 */
{
 font-size: 12pt;
 font-family: 'Times New Roman';
}
span.f_line874 /* line874 */
{
 font-size: 12pt;
 font-family: 'Times New Roman';
}
span.f_Notes /* Notes */
{
}
span.f_toc1 /* toc 1 */
{
 font-size: 12pt;
}
span.f_toc2 /* toc 2 */
{
 font-size: 11pt;
}
span.f_toc3 /* toc 3 */
{
}
span.f_toc4 /* toc 4 */
{
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p__GiS_Aufz-1 /* _GiS_Aufz-1 */
{
 text-indent: -30px;
 line-height: 1.20;
 margin: 10px 0px 10px 77px;
}
.p__GiS_Aufz-2 /* _GiS_Aufz-2 */
{
 text-indent: -30px;
 line-height: 1.20;
 margin: 10px 0px 5px 95px;
}
.p__GiS_Bildunterschrift /* _GiS_Bildunterschrift */
{
 text-align: center;
 line-height: 1.20;
 margin: 10px 0px 10px 0px;
}
.p__GiS_Codeexample /* _GiS_Codeexample */
{
 line-height: 1.20;
 border-color: #000000;
 border-style: solid;
 border-width: 0px;
 background: #e6e6e6;
 padding: 2px 2px 2px 2px;
 margin: 3px 45px 3px 45px;
}
.p__GiS_Ergebnis /* _GiS_Ergebnis */
{
 text-indent: -30px;
 line-height: 1.20;
 margin: 10px 0px 10px 89px;
}
.p__GiS_Std /* _GiS_Std */
{
 line-height: 1.20;
 margin: 15px 0px 15px 0px;
}
.p__GiS_Tabellenunterschrift /* _GiS_Tabellenunterschrift */
{
 text-align: center;
 line-height: 1.20;
 margin: 10px 0px 10px 0px;
}
.p__GiS_Tabellenzeile /* _GiS_Tabellenzeile */
{
 line-height: 1.20;
 margin: 5px 0px 5px 0px;
}
.p__GiS_Titel /* _GiS_Titel */
{
 text-align: center;
 line-height: 1.20;
 margin: 267px 0px 15px 0px;
}
.p__GiS_UeberschriftInhaltsverzeichnis /* _GiS_Überschrift Inhaltsverzeichnis */
{
 line-height: 1.20;
 margin: 33px 0px 15px 0px;
}
.p__GiS_Untertitel /* _GiS_Untertitel */
{
 text-align: center;
 line-height: 1.20;
 margin: 67px 0px 20px 0px;
}
.p__GiS_VersionStand /* _GiS_Version/Stand */
{
 text-align: center;
 line-height: 1.20;
 margin: 67px 0px 20px 0px;
}
.p_CodeExample /* Code Example */
{
 white-space: nowrap;
}
.p_Comment /* Comment */
{
}
.p_heading1 /* heading 1 */
{
 text-indent: -36px;
 line-height: 1.20;
 margin: 40px 0px 15px 36px;
}
.p_heading2 /* heading 2 */
{
 text-indent: -48px;
 line-height: 1.20;
 margin: 33px 0px 15px 48px;
}
.p_heading3 /* heading 3 */
{
 text-indent: -60px;
 line-height: 1.20;
 margin: 27px 0px 5px 60px;
}
.p_heading4 /* heading 4 */
{
 text-indent: -60px;
 line-height: 1.20;
 margin: 27px 0px 5px 60px;
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_ImageCaption /* Image Caption */
{
}
.p_line862 /* line862 */
{
 margin: 8px 0px 8px 0px;
}
.p_line874 /* line874 */
{
 margin: 8px 0px 8px 0px;
}
.p_Notes /* Notes */
{
}
.p_toc1 /* toc 1 */
{
 margin: 5px 0px 5px 0px;
}
.p_toc2 /* toc 2 */
{
 margin: 5px 0px 5px 0px;
}
.p_toc3 /* toc 3 */
{
 margin: 5px 0px 5px 0px;
}
.p_toc4 /* toc 4 */
{
 margin: 5px 0px 5px 0px;
}


#hmpopupdiv /* used for javascript text popups */
{
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #FFFFFF;
  padding: 6px;
  border:1px solid #000000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

a.dropdown-toggle /* dropdown toggle caption */
{
  cursor: pointer;
}
a.inline-toggle /* inline toggle caption */
{
  cursor: pointer;
}
img.dropdown-toggle-icon /* toggle icon */
{
  cursor: pointer;
}
