:root {
    --md-default-fg-color:        #000000;
    --md-default-bg-color:        #EFEFEF;

    --md-primary-fg-color:        #D34D28;
    --md-primary-bg-color:        #EFEFEF;

    --md-accent-fg-color:         #B1B2B3;
  }