:root {
  --md-default-fg-color: #000000;
  --md-default-bg-color: #efefef;

  --md-primary-fg-color: #d34d28;
  --md-primary-bg-color: #efefef;

  --md-accent-fg-color: #b1b2b3;
}

.md-grid {
  max-width: 100%;
}
